
<div class="contact">
    <div class="contact_background"><img class="contactImg" src="../../assets/images/profil.jpg" alt=""></div>

    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="contact_image">
                    
                </div>
            </div>
            <div class="col-lg-7">
                <div class="contact_form_container">
                    <div class="contact_title">Forgot Your Password?</div>
                    <form [formGroup]="forgotPwdForm"
                    name="loginForm"
                    (ngSubmit)=" sendResetPwdMail()"
                    class="contact_form">
                        <input type="text"  class="contact_form_subject input_field form-control" formControlName="email" placeholder="Enter your email"
                        [ngClass]="{ 'is-invalid': submitForgett && forgotPwdControls['email'].errors }"  name="email"  >
                        <div *ngIf="submitForgett && forgotPwdControls['email'].errors" class="invalid-feedback">
                            <div class="alert alert-danger" *ngIf="forgotPwdControls['email'].errors['required']">Email required</div>
                          </div>

                      <!--     <div class="alert alert-danger invalid-feedback"
                                  *ngIf="forgotPwdControls['required'].errors && forgotPwdControls['required'].errors['pattern']">Please insert
                                  a valid email
                                </div> -->
                        <button type="submit" id="form_submit_button" class="form_submit_button button">Reset password</button>
                    </form>
                    <p class="aStyle">
                        <a class="aStyle" routerLink="/login">Remember your password ? Return to login page</a>
                    </p>
                 
                </div>
            </div>
        </div>
    </div>
</div>
