<app-nav-header></app-nav-header>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky ">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo">
                        Edu Meeting
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a routerLink="/welcome" routerLinkActive="active" class="active">Home</a></li>
                        <li><a href="meetings.html">Meetings</a></li>
                        <li class="has-sub">
                            <a href="javascript:void(0)">Documents</a>
                            <ul class="sub-menu">
                                <li><a routerLink="/Sciences-Experimentales" routerLinkActive="active" >Sciences expérimentales</a></li>
                                <li><a routerLink="/Lettres" routerLinkActive="active">Lettres</a></li>
                                <li><a routerLink="/Mathematiques" routerLinkActive="active">Mathématiques</a></li>
                                <li><a routerLink="/Economie-gestion" routerLinkActive="active">Economie et gestion</a></li>
                                <li><a routerLink="/Technique" routerLinkActive="active">Technique</a></li>
                                <li><a routerLink="/Informatique" routerLinkActive="active"href="meeting-details.html">Informatique</a></li>
                            </ul>
                        </li>
                        <li class="scroll-to-section"><a routerLink="/formation" routerLinkActive="active" >Formation</a></li> 
                        <li class="scroll-to-section"><a href="#contact">Contact Us</a></li>
                        <li class="scroll-to-section"><a routerLink="/login" routerLinkActive="active" *ngIf="!loginService.isUserLoggedIn()" >Se Connecter</a></li>
                   
                       <!--          <div class="grid">
                                    <div class="col-12 md:col-4">
                                        <a routerLink="/profil" routerLinkActive="active" *ngIf="loginService.isUserLoggedIn()" >
                                            <p-avatar   image="../../../../assets/images/sema.jpg" styleClass="mr-4" size="xlarge" shape="circle">
                                        </p-avatar></a>
                                            
                                    </div>
                                 </div>  -->

                        <li class="has-sub" *ngIf="loginService.isUserLoggedIn()">
                            <a href="javascript:void(0)" routerLink="" routerLinkActive="active"   >Mon espace</a>
                            <ul class="sub-menu">
                                <li><a    (click)="getProfil()"  routerLinkActive="active">Mon Compte </a></li>
                                <li><a  *ngIf="role=='ROLE_ENSEIGNANT'" routerLink="/mes-formation"   routerLinkActive="active">Mes Formations  </a></li>
                                <li><a  routerLink="/se-deconnecter"   routerLinkActive="active">Se Deconnecter</a></li>
                   
                            </ul>
                        </li>
                     <li>
                 

                     </li>  
                    </ul>        
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>

</header>
