.row{
    margin-bottom: 25px;
    max-width: 90%;
}
.home_background{
    background-image: url("../../../assets/images/sema.jpg");
}
.profilePic{
    width: 230px;
    height: 206px;
    margin-bottom: -25px;  
}
.spanStyle{
    display: block;
    /* width: 100%; */
    padding: .375rem .75rem;
    font-size: 28px;
    line-height: 1.5;
    color: #130e0e;

}
.home_content{
    z-index: 1;
}
.spanLabel{
    color: rgb(8, 6, 6);
    font-size: 27px;
}
.spanFlex{
    display: flex;
    flex-direction: row;
    
}
.form-control {
    color: white;
    font-size: 20px;
    width:270%;
}
input[type=text]:focus{
    color: black;
    font-size: 20px;
    
}

.formTitle{
    font-size: 30px;
    color:#908c94;
}
.UpdateProfilePic{
    width: 230px;
    height: 206px; 
    border-radius: 50%;
}

.formLength{
    height: 400px;
    width: 483px;
    background-color: white;
}
.contact_form_section {
  padding-top: 0; 
    margin-top: -133px;
 
 
}

.userPic{
    border-radius: 100px;
    display: block;
    margin-left: 30%;
    margin-right: 50%;
  }
.contact_form_section{

    padding: 160px 0px 50px 90px;
    
}

.contact_form_section .container .row .col{

      background-color: rgb(232, 228, 228);
      display: flex;
      opacity: 0.3;
      max-width: 80%;
  }

  .p-button-rounded{
      
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

/* body{margin-top:20px;
    color: #9b9ca1;
    }
    .bg-secondary-soft {
        background-color: rgba(208, 212, 217, 0.1) !important;
    }
    .rounded {
        border-radius: 5px !important;
    }
    .py-5 {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
    }
    .px-4 {
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
    }
    .file-upload .square {
        height: 250px;
        width: 250px;
        margin: auto;
        vertical-align: middle;
        border: 1px solid #e5dfe4;
        background-color: #fff;
        border-radius: 5px;
    }
    .text-secondary {
        --bs-text-opacity: 1;
        color: rgba(208, 212, 217, 0.5) !important;
    }
    .btn-success-soft {
        color: #28a745;
        background-color: rgba(40, 167, 69, 0.1);
    }
    .btn-danger-soft {
        color: #dc3545;
        background-color: rgba(220, 53, 69, 0.1);
    }
    .form-control {
        display: block;
        width: 100%;
        padding: 0.5rem 1rem;
        font-size: 0.9375rem;
        font-weight: 400;
        line-height: 1.6;
        color: #29292e;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #e5dfe4;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 5px;
        -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    } */
