
    <!-- Category Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-5">
           <!--      <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Subjects</h5>
                <h1>Explore Top Subjects</h1> -->
            </div>
            <div class="row" >
                <div class="col-lg-3 col-md-6 mb-4" *ngFor="let mat of listMatiere" (click)="showDocument(mat)" 
                routerLink="['/document']" routerLinkActive="active" >
                    <div class="cat-item position-relative overflow-hidden rounded mb-2">
                        <img class="img-fluid" src="../../assets/images/course-01.jpg" alt="">
                        <a class="cat-overlay text-white text-decoration-none"  >
                            <h4 class="text-white font-weight-medium">{{mat.libelleMatiere}}</h4>
                          
                        </a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
