
<div class="contact">
    <div class="contact_background"><img class="contactImg" src="../../assets/images/profil.jpg" alt=""></div>

    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="contact_image">
                    
                </div>
            </div>
            <div class="col-lg-7">
                <div class="contact_form_container">
                    <div class="contact_title">Reset password</div>
                    <form [formGroup]="restPwd"
                    name="restPwd"
                    (ngSubmit)="ResetPwd()"
                    id="contact_form" class="contact_form">
                        <input type="password"  class="contact_form_subject input_field form-control" formControlName="password" placeholder="password"
                        name="password"  [ngClass]="{ 'is-invalid': reset && restPwdControls['password'].errors }"  name="password" >
                        <div class="alert alert-danger invalid-feedback" *ngIf="restPwd.controls['password'].touched && restPwd.controls['password'].errors">
                            password must have at least 8 caracters
                         </div>
                         <div class="invalid-feedback" *ngIf="reset && restPwdControls['password'].errors">
                           <div class="alert alert-danger" *ngIf="restPwdControls['password'].errors['required']">
                             password  required
                           </div>
                         </div>

                         <input type="password"  class="contact_form_subject input_field form-control" formControlName="confirmPassword" placeholder="confirm Password"
                         name="confirmPassword"  [ngClass]="{ 'is-invalid': reset && restPwdControls['confirmPassword'].errors }"  name="confirmPassword" >
                         <div class="alert alert-danger invalid-feedback" *ngIf="restPwd.controls['confirmPassword'].touched && restPwd.controls['confirmPassword'].errors">
                             passwords doesn't much
                          </div>
                        <button type="submit" id="form_submit_button" class="form_submit_button button">Reset password</button>
                    </form>
                    <p class="aStyle">
                        <a class="aStyle" routerLink="/login">Remember your password ? Return to login page</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
