.aStyle {color:white;
    text-decoration: none;
    margin-top: 50px;
}
.aStyle:hover {color:#8d4fff}

.contact_form_container{
    padding-bottom: 28px;
    padding-left: 85px;
    padding-top: 22px;
    margin-top: 162px;
}
.contactImg{
    margin-left: 36px;
    height: 480px;
    margin-top: 185px;  
}
input{
    color: white;
    font-size: medium;
}